<div class="home-container">
  <div class="header-section">
    <h1 class="main-title">Choose Your Language</h1>
    <p class="subtitle">Select a programming language to start coding in the interactive editor</p>
  </div>
  
  <div class="cards-container">
    <app-home-card title="Maude" icon="maude-icon.png" route="maude" color="#007acc" />
    <app-home-card title="JavaScript" icon="javascript-icon.png" route="javascript" color="#f7df1e" />
    <app-home-card title="C#" icon="csharp-icon.png" route="csharp" color="#68217a" />
  </div>
</div>
